
.slider-main-view {
    overflow-y: auto;
    overflow-x: hidden;
}
.slider-main-view {
    overflow: visible;
}
.slider-main-view .image-card figure {
    margin: 0;
    position: relative;
    aspect-ratio: 1.66 / 1;
}
.slider-main-view .image-card figure img {
    position: absolute;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    width: 100%;
}
.slider-main-view .card-content-wrap {
    background: #f2faf6;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 244px;
    justify-content: space-between;
    height: 100%;
}
.slider-main-view .article-cards:hover .card-content-wrap {
  background: #CCEADA;
}
.slider-main-view .article-cards > a {
  position: absolute;
  height: 100%;
  width: 100%;
}
.slider-main-view .card-content .article-date {
    font-size: 14px;
    color: #081F2C;
    font-weight: 600;
    line-height: 160%;
    margin-bottom: 5px;
}
.slider-main-view .card-content .title {
    margin: 0 0 5px;
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #081F2C;
}
.slider-main-view .card-content .sort-desc {
    color: #081F2C;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.slider-main-view .tag-list {
    display: flex;
    align-items: center;
    gap: 5px;
    align-self: stretch;
}
.slider-main-view .label {
    border-radius: 100px;
    background: var(--Dark-Green, #28724F);
    display: flex;
    height: 24px;
    padding: 0px 12px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    line-height: 150%;
    font-size: 12px;
    color: #fff;
}
.slider-main-view .label.label_2 {
    background: #141B4D;
}
.slider-main-view .btn-article {
  background: #ffffff;
  border-radius: 100px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: absolute;
  right: 40px;
  bottom: 40px;
}
.slider-main-view .article-cards:hover .btn-article {
  opacity: 1;
}
.slider-main-view .btn-navigation {
  border-radius: 100px;
  background: #009845;
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  top: calc(50% - 23px);
}
.slider-main-view .prev-button {
    left: -25px;
}
.slider-main-view .next-button {
    right: -25px;
}
.slider-main-view .swiper-button-prev:after, 
.slider-main-view .swiper-rtl .swiper-button-next:after {
    display: none;
}
.slider-main-view .swiper-button-next:after, 
.slider-main-view .swiper-rtl .swiper-button-prev:after {
    display: none;
}
.slider-main-view .swiper-scrollbar { display: none; }
.slider-main-view .overflow {
    overflow: visible;
  }
@media only screen and (max-width: 767px){
  .blog-latest-article.section-padding {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .slider-main-view {padding-right: 28px;}
  .slider-main-view .card-content-wrap { padding: 30px 20px 20px; min-height: 259px; }
  .slider-main-view .card-content .title { font-size: 28px; }
  .slider-main-view .btn-navigation { display: none; }
  .slider-main-view .swiper-scrollbar {
    bottom: -30px;
    top: auto;
    display: block;
    background: #CCEADA;
  }
  .slider-main-view .swiper-scrollbar-drag {
    background: #CCEADA;
    border-radius: 0;
  }
}
