.announcement-button a{
    text-decoration: unset;
}

body .header{
    margin: 0 80px;
    max-width: unset;
    padding: 0 !important;
}
.header__icon.header__icon--cart{
    display: none;
}

/* Search */

.header__icon.header__icon--search{
    width: 10rem;
    text-decoration: unset;
}
.header__icon.header__icon--search .svg-wrapper {
    width: 74px;
    height: 34px;
}
.header__icon span.search-text {
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    color: var(--Black, #081F2C);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}
.find-in-store-btn {
    background-color: #00a651;
    color: white;
    padding: 5px 20px;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    margin-left: 20px;
}
span.icon-location {
    margin-top: 10px;
    margin-right: 5px;
}
.header header-drawer {
  margin-left: 0;
}


@media only screen and (max-width: 990px) {
    .header__search{
        display:none;
    }
    .find-in-store-btn{
        width: 100%;
        min-width: 165px;
        justify-content: center;
    }
    .navabar-desktop{
        display:none;
    }
    body .header {
        margin: 10px 15px;
    }
}

@media only screen and (max-width: 768px) {
  .find-in-store-btn {
    min-width: 155px;
    font-size: 14px;
    padding:5px 12px;
  }
}
