


  
  
 
  /* megamenu css */

  
  .toggle-open.temporary_display-none {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: white;
  }
  
  .megamenu_common {
    padding: 40px 80px 80px 80px;
    width: 100%;
    background: white;
  }
  
  .megamenu_first_inner {
    display: flex;
    gap: 40px;
  }
  .megamenu_common ul {
    list-style-type: none;
    padding: 0px;
    margin: 0;
  }
  a {
    text-decoration-line: none;
    transition: none;
  }
  .megamenu_menu_list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: left;
  }
  .megamenu_menu_list li {
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
  }
  
  .megamenu_menu_list li a:hover {
    border-bottom: 2px solid #fa255e;
  }
  
  .megamenu_menu_list li a {
    font-family: kapra;
    font-size: 40px;
    display: inline;
    font-weight: 400;
    line-height: 36px;
    color: #000000;
    text-align: left;
  }
  .card-items-main .card_items .main_heading {
    font-size: 32px;
  }
  .card-product-img {
    background-color: #fafafa;
    border-radius: 10px;
  }
  
  .card-product-img .image {
    width: 240px;
    height: 240px;
    margin: auto;
  }
  
  .label {
    border-radius: 5px;
    padding: 0px 8px 2px 8px;
    text-transform: uppercase;
    position: absolute;
    left: 10px;
    top: 10px;
    background: #ffffff;
  }
  
  .label p {
    margin: 0;
  }
  .logo_header_card {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #FAECEA;
    padding: 10px;
    border-radius: 100px;
    display: flex;
  }
  .card-product-img {
    position: relative;
  }
  
  .header-wrap-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #000000;
  }
  .header-wrap-para {
    padding-top: 5px;
  }
  .header-wrap-para,
  .price_root {
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    color: #999999;
    /* font-family: "Inter", sans-serif; */
  }
  .card-header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }
  .price {
    display: flex;
  }
  .price_no_active {
    color: #cccccc;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }
  .price_root {
    color: #000000;
  }
  
  .header-wrap-title p,
  .header-wrap-para p {
    margin: 0px;
  }
  .review-header {
    padding-top: 15px;
  }
  .review-header-inner {
    display: flex;
    gap: 5px;
  }
  .count-start {
    color: #000000;
    font-size: 12px;
    font-weight: 900;
    line-height: 18px;
  }
  .count-reviews-number {
    color: #999999;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }
  .review-start-align svg {
    width: 12px;
    height: 12px;
  }
  .count_reviews {
    margin-top: -1px;
  }
  .slide_bar {
    display: none;
  }
  .mobile_navabar {
    display: none;
  }
  /* mobile_navaber */
  
  .megamenu_first_inner .price {
    gap: 5px;
  }
  
  .text-container-navbar .toggle-close {
    border-bottom: 1px solid #f2f2f2;
    padding: 25px 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .text-container-navbar .toggle-close a {
      color: #000;
  }
  
  .open_text-navbar-cont .megamenu_menu_list {
    padding: 0px 20px;
  }
  
  .slider_product-mobile {
    display: flex;
    gap: 20px;
    /* overflow-x: scroll; */
  }
  .toggle-open,
  .inner-navabar-mobile {
    position: relative;
  }
  
  .toggle-open-align {
    padding: 25px 20px;
    gap: 20px;
  }
  .toggle-open-align h3,
  .toggle-close h3 {
    letter-spacing: 0;
    text-transform: uppercase;
  }
  .megamenu_image_width-text-mobile {
    padding: 0px 20px;
  }
  .mobile_navabar {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 101%;
    background: white;
    overflow: scroll;
    /* height: 84vh; */
    height: calc(100vh - 100%);
  }
  .language_selecter {
    padding: 0px 20px 40px 10px;
  }
  .card-items-main-concern .card_items .image {
    margin-bottom: 20px;
  }
  .card-items-main-concern .card_items .image {
    margin-bottom: 20px !important;
  }
  
  /* card items css */
  
  .card_items {
    flex: 1;
    position: relative;
  }
  .card_items > a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .megamenu_first_inner .card_items .image {
    line-height: 0;
    margin-bottom: 40px;
    aspect-ratio: 0 / 0;
  }
  .card_items .image img.card-image {
    position: absolute;
  }
  .card_items .main_heading {
    font-size: 40px;
    margin: 0 0 10px;
  }
  .card_items p.desc {
    padding-bottom: 27px;
  }
  .slider_product-mobile .card_items .image {
    line-height: 0;
    margin-bottom: 40px;
    aspect-ratio: 0 / 0;
  }
  
  
  /* transparent-header */
  
  /*.transparent-header .navbar a {
    color:#FFFFFF;
  }*/
  /*.transparent-header .icon svg path,
  .transparent-header .header__icon--account svg path,
  .transparent-header .header__icon--cart svg path{
       stroke:white;
  }*/
  
  @media only screen and (max-width: 1250px) {
    .navbar .navbar-nav {
      gap: 20px;
    }
  }
  @media only screen and (max-width: 1199px) {
    .navbar {
      display: none;
    }
    .temporary_display-none {
      display: none;
    }
    .nav-toggle-menu.active .toggle-close.common_h3 {
      display: none;
    }
    .nav-toggle-menu.active .temporary_display-none {
      display: block;
    }
    .megamenu_menu_list {
      gap: 20px;
      padding: 0px 20px;
    }
    .megamenu_menu_list li a {
      font-size: 16px;
      line-height: 24px;
      display: inline;
    }
    .megamenu_common {
      padding: 0px;
    }
    .megamenu_menu_list li {
      padding: 0px;
    }
    .slider_product-mobile {
      padding: 40px 20px;
      overflow-y: auto;
      flex-wrap: nowrap;
    }
    .slider_product-mobile .card-items-main {
      min-width: 60%;
      max-width: 60%;
    }
    .megamenu_menu_list li a {
      font-family: lato;
    }
  
  
  
  
    .toggle-open .megamenu_first_inner {
      flex-direction: column;
      gap: 10px;
    }
    .megamenu_first_inner .card_items p.desc {
      padding-bottom: 10px;
    }
    .megamenu_first_inner .card_items .card_content {
      width: 65%;
    }
    .megamenu_first_inner .card_items .image img {
      height: 220px;
      border-radius: 10px;
    }
    .megamenu_first_inner .card_items {
      display: flex;
      gap: 15px;
    }
    .card_items p.desc {
      padding-right: 0;
    }
    .text-container-navbar .common_h3 h3 {
      font-size: 32px;
    }
    .language_selecter {
      padding: 40px 20px 0;
    }
    .text-container-navbar .nav-toggle-menu.active .toggle-close {
      padding: 25px 20px 50px;
    }
    .custom-menu-mobiles{
      overflow-y: scroll;
    }
    .cmn-menu-products{
      display: flex;
      justify-content: space-between;
      padding: 20px;
    }
    .cmn-menu-product {
      min-width: 220px;
    }
    .megameu-product{
      display:block;
    }
    .mega-image{
      width:100%;
    }
    .mega-descc {
      width: 70%;
    }
  }
  @media only screen and (max-width: 768px) {
  .header-shop-right{
    padding: 22px 22px 0;
  }
  }